<div class="container">
  <div class="d-flex flex-row justify-content-around">
    <%= link_to '-1', tournament_busted_path(@tournament, busted: -1), method: :post, class: 'btn btn-danger' %>
    <%= link_to '-10', tournament_busted_path(@tournament, busted: -10), method: :post, class: 'btn btn-danger' %>
    <%= link_to '-100', tournament_busted_path(@tournament, busted: -100), method: :post, class: 'btn btn-danger' %>
    <%= link_to '+1', tournament_busted_path(@tournament, busted: +1), method: :post, class: 'btn btn-success' %>
    <%= link_to '+10', tournament_busted_path(@tournament, busted: +10), method: :post, class: 'btn btn-success' %>
    <%= link_to '+100', tournament_busted_path(@tournament, busted: +100), method: :post, class: 'btn btn-success' %>
  </div>

  <%= simple_form_for @tournament do |f| %>
    <%= @tournament.errors.full_messages.join(', ') %>
    <%= f.input :title, label: 'Titre' %>
    <%= f.input :sub_title, label: 'Sous-Titre' %>
    <%= f.input :attendees_nb, label: 'Nb Inscrits'%>
    <%= f.input :remaining_attendees, label: 'Joueurs Restant' %>
    <%= f.input :starting_stack, label: 'Stack de départ', input_html: { min: 0, step: 500 } %>

<!-- CLOCK HERE -->
<div class="container mt-5 mb-5 pt-5 pb-5 border border-dark text-center">
  <!-- set i as current active round order nb -->
  <% if @tournament.rounds.any? %>
    <% unless @tournament.rounds.where(state: "actived")[0].nil?  %>
      <% i = @tournament.rounds.where(state: "actived")[0].order_nb %>
      <p class="time-data" data-url="<%= @tournament_round.ends_at %>">
      </p>
    <% end %>


    <!-- countdown program -->
    <% if @tournament_round && @tournament_round.ends_at.nil? %>
      <p>
        <%= (@tournament_round.counter / 60).to_i %>  : <%= (@tournament_round.counter % ((1000 * 60) / 1000)).to_i %>
      </p>
    <% else %>
      <% if @tournament.rounds.order(:order_nb).last.ended? %>
        <p>TOURNOI TERMINE</p>
      <% else %>
        <p id="countdown"></p>
        <p>round : <%= i %></p>
      <% end %>
    <% end %>
  <% end %>


  <%= link_to 'start',start_countdown_tournament_round_path(@tournament), method: :post, class: 'btn btn-primary' %>
  <%= link_to 'pause',pause_countdown_tournament_round_path(@tournament), method: :post, class: 'btn btn-info' %>
  <%= link_to 'reset',reset_tournament_tournament_round_path(@tournament), method: :post, class: 'btn btn-danger', data: { confirm: "Etes vous sûr ?" } %>
  <%= link_to 'Tournament Page', tournament_path(@tournament), class: "btn btn-dark", target: "new" %>
</div>

<!-- END OF CLOCK -->


    <%= f.input :color, label: 'Thème', as: :color %>
    <%= f.button :submit, class: 'btn btn-danger btn-block' %>
  <% end %>
<br>
  <%= link_to "Accueil", root_path, class: 'btn btn-light btn-block' %>
  <%= link_to "Add rounds", new_tournament_round_path(@tournament), class: 'btn btn-primary' %>
</div>

<!-- Rounds -->
<div class="container">
  <h2 class="text-center">ROUND LIST</h2>
  <ul class="list-group pb-5 mb-5">
    <li class="d-flex flex-rox mb-1 justify-content-between">
      <span class="font-weight-bold">Categorie</span>
      <span class="font-weight-bold">Small Blind</span>
      <span class="font-weight-bold">Big Blind</span>
      <span class="font-weight-bold">Durée</span>
      <span class="font-weight-bold">Numéro</span>
      <span class="font-weight-bold">Etat</span>
      <span class="font-weight-bold">Tools</span>
    </li>
    <% @tournament.rounds.order(:order_nb).each do |round| %>
      <li class="d-flex flex-rox justify-content-between mb-1">
        <span><%= round.category %></span>
        <span><%= round.small_blind %></span>
        <span><%= round.big_blind %></span>
        <span><%= round.duration %> minutes</span>
        <span><%= round.order_nb %></span>
        <span><%= round.state %></span>
        <span>
          <%= link_to edit_tournament_round_path(@tournament, round) do%>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to tournament_round_path(@tournament, round), method: :delete, data: { confirm: "Etes vous sûr ?" } do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </span>
      </li>
    <% end %>
  </ul>
</div>
