<div class="screen container-fluid" style="background-color: <%= @tournament.font_color %>;">

  <!-- FIRST LINE SHOW -->
  <div class="pt-4 d-flex justify-content-around align-items-center">
    <div class="logo">
      <%= image_tag 'logo.png', class: "photo" %>
    </div>
    <div class="first-line d-flex flex-column justify-content-center">
      <h1 class="text-uppercase text-center border-bottom border-white d-block mx-auto" style="color: <%= @tournament.color %>;">
        <%= @tournament.title %>
      </h1>
      <h2 class="text-capitalize text-center border-bottom border-white d-block mx-auto">
        <% if @tournament.sub_title %>
          <%= @tournament.sub_title %>
        <% end %>
      </h2>
    </div>
    <div class="logo">
      <%= image_tag 'logo.png', class: "photo" %>
    </div>
  </div>

  <!-- SECOND LINE SHOW -->
    <!-- CLOCK -->
  <div class="row pt-3">
    <div class="rem-2 col-3 text-center d-flex flex-column align-items-center justify-content-center">
      <p>
        Joueurs Inscrits :
      </p>
      <p>
        <%= @tournament.attendees_nb %>
      </p>
    </div>
    <div class="clock col-6 d-flex align-items-start justify-content-center">

      <% if @tournament_round %>
        <span class="time-data" data-url="<%= @tournament_round.ends_at %>">
        </span>
      <% end %>

      <!-- countdown program -->
      <% if @tournament_round && @tournament_round.ends_at.nil? %>
        <p class="big paused font-weight-bold">
          <% min = (@tournament_round.counter / 60).to_i %>
          <% sec = (@tournament_round.counter % ((1000 * 60) / 1000)).to_i %>
          <% if min > 9 && sec > 9 %>
            <%= min %>:<%= sec %>
          <% elsif min > 9 && sec <= 9 %>
            <%= min %>:0<%= sec %>
          <% elsif min < 9 && sec > 9 %>
            0<% min %>:<%= sec %>
          <% elsif min < 9 && sec <= 9 %>
            0<%= min %>:0<%= sec %>
          <% end %>
        </p>
      <% else %>
        <% if @tournament.rounds.order(:order_nb).last.ended? %>
          <p class="font-weight-bold ended">TOURNOI TERMINE</p>
        <% else %>
          <p id="countdown" class="big started font-weight-bold"></p>
        <% end %>
      <% end %>
    </div>
    <div class="col-3 d-flex flex-column align-items-center justify-content-center rem-2">
      <p>
        Joueurs Restants :
      </p>
      <p class="remain">
        <%= @tournament.remaining_attendees %>
      </p>
    </div>
  </div>
    <!-- /CLOCK -->

  <!-- THIRD LINE SHOW -->
  <div class="pt-3 container-fluid d-flex justify-content-around align-self-stretch">
    <div class="blind rem-2 text-center border border-dark rounded d-flex justify-content-center flex-column" style="background-color: <%= @tournament.color %>;">
      <p>
        Pause dans :
      </p>
      <p>
        <% if @tournament_round && (@tournament_round.ends_at.nil? || @tournament_round.category == "break") %>
          <span id="nobreak">-- : --</span>
        <% else %>
          <span id="breakdown">
          </span>
        <% end %>
      </p>
    </div>
    <span class="next-break" data-url="<%= @tournament.next_break %>"></span>
    <div class="blinds text-center d-block mx-auto d-flex align-items-center justify-content-center flex-column rounded border border-dark" style="background-color: <%= @tournament.color %>; ">
      <p class="font-weight-bold">
        <% if @tournament_round && @tournament_round.small_blind != 0 && @tournament_round.category == 'round' %>
          Blinds : <%= number_with_delimiter(@tournament_round.small_blind, :delimiter => '') %> - <%= number_with_delimiter(@tournament_round.big_blind, :delimiter => '') %>
        <% elsif @tournament_round && @tournament_round.category == 'break' %>
          PAUSE
        <% else %>
          -- / --
        <% end %>
      </p>
      <p class="font-weight-bold">
        <% if @tournament_round && @tournament_round.ante != 0 %>
          Ante : <%= number_with_delimiter(@tournament_round.ante, :delimiter => '') %>
        <% else %>
          Ante : --
        <% end %>
      </p>
    </div>
    <div class="blind rem-2 text-center border border-dark rounded d-flex justify-content-center flex-column" style="background-color: <%= @tournament.color %>;">
      <p>
        Tapis Moyen :
      </p>
      <p>
        <% total_chips = @tournament.starting_stack * @tournament.attendees_nb %>
        <% if @tournament.remaining_attendees != 0 && @tournament.remaining_attendees %>
          <%= number_with_delimiter(total_chips / @tournament.remaining_attendees, :delimiter => ' ') %>
        <% else %>
          --
        <% end %>
      </p>
    </div>
  </div>
</div>

